* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(73, 73, 73);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background: rgb(0, 2, 114);
    color: mintcream;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    flex: auto;
    padding: 32px 0px;
}

.main-content {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}


.score-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    /* border: solid white; */
    background: silver;
    /* max-width: fit-content; */
    gap: 16px;
    /* align-self: center; */
}

.score-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 32px;
    text-align: center;
}

.score {
    background: white;
    border: solid black;
    max-width: fit-content;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.game-status {
    font-size: 22px;
    font-weight: bold;
    padding: 16px 24px;
    background: white;
    border: 8px solid;
    /* margin: 16px 0px; */
    min-width: 400px;
    height: 32px;
    text-align: center;
    max-width: fit-content;
    align-self: center;
    min-height: auto;
}

.match-result {
    font-size: 32px;
    padding: 16px 24px;
    background: white;
    border: 4mm ridge;
    border-radius: 8px;
    margin: 16px 0px;
    text-align: center;
    width: 50%;
    min-height: 32px;
    align-self: center;
}